:root {
    --primary-color: red;
    --dark-color: #141414;
    --light-color: #f4f4f4;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    opacity: 1;
}

ul {
    list-style: none;
}

h1,
h2,
h3 {
    color: #ffffff;

}

h2 {
    font-weight: lighter;
}

a {
    color: white;
    text-decoration: none;
}

h3 {
    margin: 0.5rem 0;
    font-weight: bold;
    color: white;
}

img {
    width: 100%;
}

.showcase {
    width: 100%;
    height: 700px;
    position: relative;
    background-image: url(Images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.showcase::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(86, 85, 85, 0.4);
    box-shadow: 120px 100px 250px #000000, inset -120px -100px -250px #000000;

}

.showcase-top {
    position: relative;
    display: flex;
    justify-content: space-between;



}

.showcase-left img {
    margin: 5px 50px;
    position: absolute;
    z-index: 2;
    width: 150px;
    top: 50%;
    height: 80px;

}

.showcase-right {
    display: flex;

}


.showcase-right p {
    font-size: 16px;
    z-index: 2;
    margin: 30px 20px 0px 0px;
    padding: 10px 18px;
    border: 1px solid transparent;
    color: white;

}

.lang {
    position: relative;


}

.down {
    position: absolute;
    top: 6px;
}

.fas {

    padding: 0px 2px 0px 2px;

}

.lang {
    outline: 1px solid white;
    background: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.signIn {
    background: red;
    color: white;
    cursor: pointer;
    display: inline;
    width: 100px;
    align-items: center;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}


.showcase-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;

}

.showcase-content h1 {
    display: inline;
    position: absolute;
    text-align: center;
    z-index: 2;
    width: 100%;
    margin-top: -80px;
    margin-left: 200px;
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    color: #fff;

}


.showcase-content h2 {
    color: white;
    font-size: 25px;
    z-index: 2;
    position: absolute;
    margin-top: 80px;
    margin-right: 100px;
}

.showcase-content h3 {
    color: white;
    font-size: 18px;
    z-index: 2;
    position: absolute;
    margin-top: 150px;
    margin-right: 10px;
    font-weight: 300;
}

.showcase-content input {
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    width: 400px;
    height: 3rem;
    padding: 18px;
    margin-left: -150px;
    margin-top: 250px;
    font-size: 17px;
    z-index: 2;

}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: white;
    padding: 14px 20px;
    font-size: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 450px;
    margin-top: 250px;
    outline: none;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.45);

}

.btn :hover {
    opacity: 0.9;

}

.btn-rounded {
    border-radius: 8px;

}

.showcase-content .btn-lg {
    position: absolute;
    right: 0;
    padding: 18px;
    font-size: 17px;
    height: 3rem;
    width: 150px;
    justify-content: space-between;
}


.card-0,
.card-1,
.card-2,
.card-3 {
    border-top: 8px rgb(69, 69, 69) solid;
    padding: 50px;
}

.card-0 {
    position: relative;
    display: inline-grid;
    grid-template-columns: 55% 35%;
    text-align: right;
    align-items: center;
    padding: 25px 45px 50px;
    font-weight: bolder;

}

.disc-0 {
    padding-left: 100px;
}

.card-0 video {
    position: relative;
    width: 100%;
    height: 54%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;

}

.card-0 img {
    grid-column: 2/2;
    grid-row: 1/2;

}

.card-1 {
    position: relative;
    display: inline-grid;
    grid-template-columns: 35% 55%;
    text-align: right;
    align-items: center;
    padding: 25px 45px 50px;
    font-weight: bolder;


}

.left {
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 80px;
    border: 2px solid #404040;
    border-radius: 10px;
    position: absolute;
    left: 160px;
    bottom: 120px;
    background: #000;
}

.boxshot {
    width: 80px;
    height: 80px;
    padding: 10px;
}

.icon {
    width: 50px;
    height: 50px;
    margin-top: 15px;
}


.left1 {
    margin-top: 20px;
}

.left p {
    font-size: 18px;
    font-family: 'poppins', sans-serif;
    color: #fff;
}

.left1 .download {
    color: blue;
    font-size: 12px;
}


.disc-1 {
    padding-left: 50px;
}

.style-cards h1 {
    font-size: 3rem;
    padding: 1rem;
    padding-left: 0;
}

.style-cards h2 {
    font-size: 1.5rem;
    line-height: 2rem;

}


.card-2 {
    position: relative;
    display: inline-grid;
    grid-template-columns: 55% 35%;
    text-align: right;
    align-items: center;
    padding: 25px 45px 50px;
    font-weight: bolder;


}

.disc-2 {
    padding-left: 80px;
}

.card-3 {
    position: relative;
    display: inline-grid;
    grid-template-columns: 35% 55%;
    text-align: right;
    align-items: center;
    padding: 25px 45px 50px;
    font-weight: bolder;


}

.disc-3 {
    padding-left: 80px;

}

.card-2 img {

    grid-column: 2/2;
    grid-row: 1/2;

}

.card-2 video {
    position: relative;
    top: -80px;
    left: 100px;
    width: 60%;
    height: 54%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;

}

hr {
    height: 10px;
    border: 1px solid transparent;
    background: #222222;
}

.faq {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.faq h1 {
    padding-bottom: 40px;
    font-size: 3rem;
}

.questions {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    align-items: center;
}



.questions li {
    display: flex;
    padding: 20px 30px;
    margin: 5px;
    font-size: 1.5rem;
    background-color: #303030;
    color: white;
    text-align: left;
    width: 60%;
    justify-content: space-between;

}

.faq h3 {
    padding-top: 60px;
    font-size: 1.2rem;
    font-weight: 200;

}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: 55% 45%;
    font-size: 17px;
}

.input input {
    width: 400px;
    height: 3rem;
    padding: 18px;
    z-index: 2;

}

.input button {
    display: inline-block;
    height: 3rem;
    width: 180px;
    text-align: center;
    background-color: red;
    font-size: 20px;
    padding: 14px 20px;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.footer {
    padding: 50px 15% 10px;
    color: grey;
    width: 100%;
    margin: 1rem auto;
    max-width: 90%;
}


.call span {
    text-decoration: underline;
}

.footer h2 {

    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
    cursor: pointer;

}

.call:hover {
    text-decoration: underline;
    cursor: pointer;

}

.footer .col {
    display: grid;
    list-style-type: none;
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-right: 20px;
}

.footer .col a {
    display: inline-block;
    text-decoration: none;
    color: #777;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    text-decoration: underline;
    font-size: 14px;
    margin-bottom: 10px;
    padding-top: 20px;
    cursor: pointer;
    line-height: 2;
}

.footer .row {
    align-items: flex-start;
    padding: 20px 0;
    display: flex;

}

.footer_btn {
    border-radius: 5px;
    z-index: 2;
    padding: 10px 28px;
    display: inline;
    font-size: 14px;
    border: 1px solid grey;
    color: grey;
    cursor: pointer;
    position: absolute;
    text-align: center;

}

.footer_btn .lang {
    position: relative;
    color: grey;
}

.footer_btn .down {
    position: absolute;
    top: 6px;
}

.footer_btn .fas {
    padding: 0 2px 0 2px;
}

.footer_btn p {
    font-family: 'Poppins', sans-serif;
}

.netflixIndia {
    margin-top: 50px;
    color: #757575;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}